# Base Backend configuration
x-backend: &backend
  build: .
  restart: always
  env_file:
    - .env
  depends_on:
    redis:
      condition: service_healthy
  volumes:
    - static_data:/src/staticfiles
  healthcheck:
    test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
    interval: 5s
    timeout: 5s 
    retries: 5

# Base Nginx configuration
x-nginx: &nginx
  build:
    context: ./nginx
  restart: always
  ports:
    - 80:80
  volumes:
    - static_data:/app/static
  healthcheck:
    test: ["CMD-SHELL", "curl -fsS --out-null http://localhost:8080/health"]
    interval: 2s
    timeout: 5s
    retries: 5


services:

  redis:
    image: redis:7.2-alpine
    restart: always
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    volumes:
      - ./.redis_data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a ${REDIS_PASSWORD} ping"]
      interval: 3s
      timeout: 5s
      retries: 3
    profiles: [dev, stage, prod]


  # ===================================DEVELOPMENT SERVICES===================================
  backend-dev:
    <<: *backend
    build:
      args:
        DEV: true
    environment:
      - DJANGO_ALLOWED_HOSTS=backend-dev
      - DJANGO_SETTINGS_MODULE=main.django.development
    profiles: [dev]

  nginx-dev:
    <<: *nginx
    environment:
      - BACKEND_HOSTNAME=backend-dev
    depends_on:
      backend-dev:
        condition: service_healthy
    profiles: [dev]

  # ===============================PRODUCTION and STAGE SERVICES===============================

  backend-prod:
    <<: *backend
    environment:
      - DJANGO_ALLOWED_HOSTS=backend-prod
      - DJANGO_SETTINGS_MODULE=main.django.production
    profiles: [prod, stage]

  nginx-prod:
    <<: *nginx
    profiles: [prod, stage]
    environment:
      - BACKEND_HOSTNAME=backend-prod
    depends_on:
      backend-prod:
        condition: service_healthy

volumes:
  static_data:
