name: CI pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  paths-ignore:
    - '**/*.md'



jobs:
  checks:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.0"

      - name: Install uv
        uses: astral-sh/setup-uv@v1
        with:
          version: "0.7.13"

      - name: Create sample config file
        run: cp .env.example .env

      - name: Install dependencies
        run: uv sync --all-groups

      - name: Run Ruff
        run: uv run ruff check

      - name: Run Mypy
        run: uv run mypy
        env:
          PYTHONPATH: src/

      - name: Run Tests
        run: uv run src/manage.py test src/